body {
    /* background */
    background-color: hsl(185, 75%, 39%);
    background-image: url("../images/bg-pattern-top.svg"),
        url("../images/bg-pattern-bottom.svg");
    background-position: bottom -50vh right 50vw,
        left 50vw top 50vh;
    background-repeat: no-repeat;

    /* text */
    font-family: 'Kumbh Sans',
        sans-serif;
    text-align: center;

    /* flexbox properties */
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main-card {
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 350px;
    height: 374px;
    margin: auto;
}

/* media query to adjust width for mobile */
@media screen and (max-width: 376px) {
    .main-card {
        width: 326px;
    }
}

/* centres the card to centre of page */
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* main area of profile card  with img, name, age, location */
.main-profile {
    background-image: url("../images/bg-pattern-card.svg");
    background-repeat: no-repeat;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.profile-img {
    background-color: white;
    border: 5px solid white;
    border-radius: 100%;
    margin-top: 90px;
}

.name-field {
    color: hsl(229, 23%, 23%);
    font-size: 18px;
    font-weight: 700;
}

.age-field {
    color: hsl(228, 10%, 47%);
    font-size: 18px;
    font-weight: 400;
}

.location-field {
    color: hsl(228, 10%, 47%);
    font-size: 14px;
}

/* bottom field of main card, showing stats */

.profile-info {
    border-top: 1px solid hsl(228, 9%, 92%);
    /* flexbox properties */
    display: flex;
    justify-content: space-evenly;
}

.info-section {
    padding: 15px;
}

.numerical-info {
    color: hsl(229, 23%, 23%);
    font-weight: 700;
    margin-bottom: 6px;
}

.description-info {
    color: hsl(228, 10%, 47%);
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1.5px;
    margin-top: 6px;
}

/* front end mentor attribution */
.attribution {
    color: white;
    font-size: 9px;
    text-align: center;
    padding: 5%;
    opacity: 50%;
}

.attribution a {
    color: white;
}